@page "/"

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<AuthorizeView>
	<Authorized>
		<a href="/fetchdata" class="btn btn-primary">Fetch Data</a>
	</Authorized>
	<NotAuthorized>
		<a href="/login" class="btn btn-primary">Authenticate</a>
	</NotAuthorized>
</AuthorizeView>
