@page "/login"
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject TestingBlazor.Services.Authentication.AuthenticationCommandService authenticationCommandService

<h1>Log In</h1>

<div class="col-md-4">
	<form>
		<div class="form-group">
			<label for="Email" class="control-label">Name</label>
			<input for="Email" class="form-control" @bind-value="@email" />
		</div>
		<div class="form-group">
			<label for="Password" class="control-label">Password</label>
			<input type="password" for="Password" class="form-control" @bind-value="@password" />
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary" @onclick="HandleValidSubmit">Authenticate</button>
		</div>
	</form>
</div>

@code {

	private string email { get; set; }
	private string password { get; set; }

	private bool IsAuthenticating { get; set; }

	public async Task HandleValidSubmit()
	{
		IsAuthenticating = true;

		var custom = authenticationStateProvider as TestingBlazor.Services.Authentication.CustomAuthenticationStateProvider;
		custom.LoadUser(email, password);
		var state = authenticationCommandService.Execute(custom);

		IsAuthenticating = false;
		if (state.User.Identity.IsAuthenticated)
		{
			navigationManager.NavigateTo("/");
		}
	}

}